# IntellIJ
.idea

# Java
*.class
*.jar

# Gradle
#  ignore
.gradle
build
#  include
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Maven
#  ignore
target
#  include
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/gradle-wrapper.properties

# Ignore logs
*.log
