# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\PAWEL\Documents\STUDIA\Moje-projekty\pm-chess-game\.idea/dataSources/
/dataSources.local.xml
